[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
faker = "*"
flask-cors = "*"
flask-wtf = "*"
bcrypt = "*"
marshmallow-sqlalchemy = "*"
make-response = "*"

[dev-packages]

[requires]
python_version = "3.10"
