.card {
  width: 900px;
  margin-top: 45px;
  margin-left: 100px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 500px;
  height: 300px;
  transition: transform 0.3s ease;
}

.card:hover .card-img-top {
  transform: scale(1.1);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.list-group-item {
  font-size: 1rem;
  display: flex;
  align-items: center;
  border: none;
  transition: background-color 0.3s ease;
}

.list-group-item i {
  margin-right: 10px;
}

.list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-primary {
  background-color: #ff5a5f;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #ff4449;
}
