/* Account Details */
.account-details {
  display: flex;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);  
}

.fa-user {
  margin-right: 20px;
}

.account-details-info {
  display: flex;
  flex-direction: column;
}


.account-details-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.account-details-label {
  font-weight: bold;
}

.account-details-value {
  color: #666666;

}