/* BookingPage.css */
.booking-page {
  background-color: #f2f2f2;
  padding: 50px 0;
}


.main-card, .price-card {
  /* width: 1000px; */
  background-color: #fff;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.main-card .card-body, .price-card .card-body {
  padding: 40px;
}

.main-card .card-title, .price-card .card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-card .card-subtitle, .price-card .card-subtitle {
  font-size: 20px;
  color: #6c757d;
}

.rating {
  margin-top: 20px;
}

.star-icon {
  color: #ffc107;
}

.host-info {
  margin-top: 20px;
  font-size: 20px;
}

.person-icon {
  color: #17a2b8;
  font-size: 18px;
}

.superhost-badge {
  background-color: #28a745;
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 18px;
  margin-left: 5px;
}

.location-info {
  margin-top: 10px;
  font-size: 18px;
}

.location-icon {
  color: #343a40;
}

.amenities {
  margin-top: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
}

.amenities h5 {
  font-size: 28px;
  margin-bottom: 15px;
}

.amenities ul {
  list-style: none;
  padding-left: 0;
}

.amenities ul li {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.reviews {
  margin-top: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.reviews h5 {
  font-size: 26px;
  margin-bottom: 15px;
}

.review-card {
  margin-bottom: 20px;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.review-card .card-body {
  padding: 20px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.rating-stars {
  font-size: 20px;
}

.star {
  color: grey;
  transition: color 0.3s ease;
  cursor: pointer;
}

.star.filled {
  color: #adff2f ;
}

.star:hover, .star.filled:hover {
  cursor: pointer;
}

.price-card .card-body {
  text-align: center;
}

.price-card .btn-success {
  margin-top: 20px;
}
