.dashboard-container {
  display: flex;
  height: 740px;
  margin-top: 50px;
  margin-right: 100px;
  justify-content: space-between;
  border: 2px solid black;
}

.navbar-dash {
  flex: 1;
  background-color: #f0f0f0;
  padding: 70px;  
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.navbar-dash-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 2px black solid;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.navbar-dash-item:hover {
  background-color: #e0e0e0;
}

.navbar-dash-text {
  margin-left: 10px;
}

.content {
  flex: 3;
  padding: 20px;
}

.account-section,
.notifications-section,
.saved-section,
.bookings-section {
  display: none;
}

.account-section.active,
.notifications-section.active,
.saved-section.active,
.bookings-section.active {
  display: block;
}
