/* Footer */
.footer {
  background-color: #f8f9fa;
  padding: 40px 0;
  margin-top: 200px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
}

.footer-section {
  margin-right: 40px;
}

.footer-heading {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li {
  margin-bottom: 13px;
}

.footer-list a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.footer-list a:hover {
  color: #ff5a5f;
}

.footer-social {
  display: flex;
}

.footer-social li {
  margin-right: 20px;
}

.footer-social a {
  color: #333;
  font-size: 30px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #ff5a5f;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.footer-language select {
  margin-right: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-icon {
  font-size: 130px;
  color: #ff5a5f;
  margin-right: 10px;
  margin-left: 60px;
}

.footer-text {
  font-size: 50px;
  font-weight: bold;
}
