.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  padding: 10px; 
  height: 160px
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-center {
  text-align: center;
}


.navbar-logo {
  font-size: 60px;
  margin-right: 10px;
  margin-left: 30px;
  margin-bottom: 40px;
  color: red;
}

.home-icon {
  font-size: 30px;
  margin-right: 50px;
}

.login-button,
.signup-button {
  background-color: #f27405;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover,
.signup-button:hover {
  background-color: #f29b05;
}

.separator {
  color: #777;
  margin: 0 5px;
}

.profile-icon {
  font-size: 35px;
  margin-right: 40px;
  cursor: pointer;
}

.menu-icon {
  font-size: 30px;
  margin-right: 10px;
  margin-left: 20px;
  background-color: #fae1e1;
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0; /* Adjust the right position if needed */
  width: 250px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}


.dropdown-menu a {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  padding: 15px 0;
  border-bottom: 1px solid #c2c0c0;
  border-radius: 8px;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.log-out-icon {
  font-size: 20px;
  margin-right: 5px;
}

.airbnb-p {
  font-size: 40px;
  color: red;
  margin-left: -10px;
  margin-bottom: 60px;
}


span {
  font-size: 26px;
}

/* Add this style to position the calendars correctly */
.react-datepicker {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 999px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.react-datepicker__triangle {
  display: none;
}

.user-profile {
  border: 1px solid red;
  margin-right: 100px;
  margin-left: 20px;
  background-color: #a19e9d;
  border-radius: 70px;
  font-size: 50px;
  position: relative;
  z-index: 1001;
}